<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yk.mapper.EjldxfzMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.yk.model.entity.Ejldxfz">
        <id column="id" property="id" />
        <result column="zd" property="zd" />
        <result column="xqxfz" property="xqxfz" />
        <result column="zfd" property="zfd" />
        <result column="hh" property="hh" />
        <result column="cx" property="cx" />
        <result column="rs" property="rs" />
        <result column="fzr" property="fzr" />
        <result column="bzb" property="bzb" />
        <result column="sj" property="sj" />
        <result column="zdy" property="zdy" />
        <result column="zh" property="zh" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, zd, xqxfz, zfd, hh, cx, rs, fzr, bzb, sj, zdy, zh
    </sql>

</mapper>
